* {
  margin: 0;
  padding: 0;
}

body,
html {
  background: url("https://static.spektrum.de/fm/912/f2000x857/Wolken_Sonne_fotolia_65398541_SunnyForest.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.window {
  justify-content: center;
  background-color: grey;
  height: 80px;
  width: 200px;
  border: 2px solid black;
}

.header {
  color: white;
  background: linear-gradient(90deg, rgb(107, 107, 191), lightblue);
  padding: 1px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.X {
  width: 20%;
}

.destroy {
  color: white;
  font-size: 13px;
}
